<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{%endblock %}</title>

</head>

<body class="bg-green-50">
	<nav class="py-4 bg-teal-500 px-6 flex justify-between">
        <a href="/" class="text-white text-2xl">Teal CRM</a>
        <div>
            <a href="{% url 'dashboard' %}" class="text-white rounded-xl py-4 px-6 hover:bg-teal-600 hover:text-2xl">Dashboard</a>
            <a href="{% url 'leads_list' %}" class="text-white rounded-xl py-4 px-6 hover:bg-teal-600 hover:text-2xl">Leads</a>
            <a href="{% url 'about' %}" class="text-white rounded-xl py-4 px-6 hover:bg-teal-700 hover:text-2xl">About</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="text-white rounded-xl py-4 px-6 hover:bg-red-600 hover:text-2xl">Logout</a>
                
            {% else %}
                <a href="{% url 'login' %}" class="text-white rounded-xl py-4 px-6 hover:bg-teal-700 hover:text-2xl">Login</a>
                <a href="{% url 'signup' %}" class="text-white rounded-xl py-4 px-6 hover:bg-teal-700 hover:text-2xl">Sign Up</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="py-8 text-center bg-gray-200">
        <p class="text-xs"> Copyright &copy; 2024 <br>
            All right Reserved.</p>
    </footer>
</body>

</html>
